.userPage__main{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0 0 auto auto;
    padding: 2vw;
    width: 75%;
}
.userPage__main li{
    color: #bcb6ae;
    padding: 10px;
    margin-top: 2vw;
    text-align: left;
    background-color: #aa3d01;
    border-radius: 12px;
}
.userPage__main li:nth-child(even){
    margin-left: 5vw;
}
.userPage__main_author{
    font-family: 'Lobster', cursive;
    border-bottom: 3px solid #bcb6ae;
}
.userPage__main_quote{
    padding: 20px;
    background-color: #171820;
    border-radius: 12px;
}
.userPage__top{
    /*list-style: none;*/
    position: fixed;
    background: #df861d;
    display: grid;
    grid-template-rows: repeat(5, 0fr);
    grid-gap: 20px;
    padding: 10px 0 10px 0;
    width: 20%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.userPage__top li{
    width: 60%;
    background-color: #171820;
    color: #bcb6ae;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
}
.userPage__top_name{
    margin: 0;
    font-family: 'Lobster', cursive;
    border-bottom: 2px solid #bcb6ae;
}
.userPage__top p{
    padding: 3px;
    margin: 0;
    font-size: 8px;
}
.userInfo{
    background-color: #fdc029;
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-left: -186px;
    padding: 20px;
    border-radius: 12px;
}
